<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %p [%c] - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="ch.qos.logback">
		<level value="WARN" />
	</logger>

	<logger name="de.fred4jupiter.spring.boot.camel">
		<level value="DEBUG" />
	</logger>

	<logger name="CsvProcessingRoute">
		<level value="DEBUG" />
	</logger>

	<root>
		<level value="WARN" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
